* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
  font-family: 'Raleway', sans-serif;
  color: rgb(73, 73, 73);
}

.currencies{
  max-width:560px;
  margin:100px auto 0 auto;

  background-color: #fff;
    border: 1px solid hsla(260,3%,63%,.28);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
  &__inner{    
    max-width: 500px;
    margin:auto;
    
    
  }
  &__item{
  position: relative;
  display: flex;

  }

  &__input{
    width: 350px;
    height:70px;
    border: 1px solid hsla(260,3%,63%,.28);
    border-radius: 6px;
  }

  &__dropdown{    
    width: 140px;
    height:70px;
    border: 1px solid hsla(260,3%,63%,.28);
    border-radius: 6px;
  }

  &__dropdown-inner{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color:white;
  }

  &__dropdown-input{
    width: 100%;
    height:70px;
    border: 1px solid hsla(260,3%,63%,.28);
    border-radius: 6px;
  }
  &__dropdown-field{
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
    
    &:hover{
      background-color:rgb(237, 237, 237);
    }
  }
}